@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: rgb(100, 100, 100);
}

a {
    color: rgb(100, 100, 100);
}

body > header,
body > footer {
    position: fixed;
    left: 0;
    right: 0;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

body > header {
    top: 0;
}

body > footer {
    bottom: 0;
}

body > header > nav > ol,
body > header > nav > ol > li,
body > header > nav > ol > li a {
    line-height: 45px;
}

body > header > nav > ol > li {
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

body > header > nav > ol > li:hover {
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.05);
}

body > header > nav > ol > li a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    padding: 0 15px;
}

main {
    height: 100%;
    width: 100%;
    padding: 90px 45px;
}

main > h1 {
    font-size: 3em;
    font-weight: 100;
}

body > footer {
    line-height: 45px;
    text-align: right;
    padding: 0 15px;
    font-size: .7em;
}